
body{
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  background-image: url("../images/About\ Me\ Background.png");
  background-size: 100%;
  background-repeat: repeat-y;
  margin: 0px;
  padding: 0px;
}
a { color: #2E7476; 
  text-decoration: none;
  padding: 20px;
 }

html {
  scroll-behavior: smooth;
}
p{
  font-size: 20px;
  color: #2E7476;
  text-align:left;
}
h1{
  font-size: 50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(1, 59, 59);
  text-align: center;
}
h2{
  font-size: 30px;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  color: rgb(1, 59, 59);
  text-align: center;
  font-style: initial;
}
h3{
  font-size: 35px;
  margin: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgb(1, 59, 59);
  text-align: center;
}

button:hover {
  color: #ffffff !important;
  background-color: #2E7476 !important;
  transform: scale(1.05);
}
.button2:hover {
  color: #ffffff !important;
  background-color: #2E7476;
}
button{
  background-color: white;
  color: #2E7476;
  border: 3px solid #2E7476;
  padding: 14px 34px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2{
  display: inline-block;
  background-color: white;
  color: #2E7476;
  border: 3px solid #2E7476;
  padding: 10px 20px;
  margin: 10px 10px 30px 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Didact Gothic', 'Open Sans', sans-serif;
  cursor: pointer;
}

/*Top Navigation*/
.navbar {
  width: 100%;
  height: 70px;
  background-color: #e8c9adb9;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.navbar ul{
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding-right: 40px;
  margin: none;
}

.navbar li a:hover{
  background-color: #2E7476;
  color: #E8C9AD;
  background-size:contain;
}
.navbar li{
  display: inline-block;
  line-height: 70px;
  font-size: 24pt;
}
.navbar .img{
  width: 20%;
  padding: 1%;
  text-align: center;
}
.navbar-nav{
  text-align: end;
}
/*----------------BODY-----------------*/
.jumbotron {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0px !important;
  padding: 0px !important;
}
.jumbotron h1 {
  Display: flex;
  background-color: #2E7476 !important;
  color:#E8C9AD !important;
  margin: 0px;
  width: 100%;
  justify-content: center;
  padding: 0px;
  height: 100px;
  align-items: center;
}

.intro {
  outline: solid red 1px;
}

.row {
  margin: 40px;
}
.introimage{
  text-align: center;
}

/*FOOTER*/
footer {
  display: block;
  width: 100%;
  background-color: #2E7476;
  color: #E8C9AD;
  font-family: Arial, Helvetica, sans-serif;
  height: 90px;
}
footer .regText{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 33px;
  font-weight: 200px;
  line-height: 70px;
}
footer ul {
  width: -webkit-fill-available;
  padding-right: 100px;
  padding-left: 100PX;
}
footer li {
  display: inline-block;
  padding: 10px;
  color: #E8C9AD;
  font-size: 18pt;
}
.floatleft {
  float:left;
}
.floatright {
  float:right;
}

/*social media icons*/
.fa {
  padding: 8px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.8;
}
.fa-facebook {
  background: #E8C9AD;
  color: #1A2F30;
}
.fa-linkedin {
  background: #E8C9AD;
  color: #1A2F30;
}

@media only screen and (max-width: 1000px) {
  body{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  body{
    padding: 0;
    margin: 0;
    width: 100%;
  }
}